A Message has been flagged in your guestbook.
\===============================================

This is to let you know that a guestbook entry was deemed inapiraote by others.

Please click #{manage_guestbooks_url}f
