
<div class="row-fluid">

	<div id="my-home-form" class="col-md-8 col-md-offset-2 center-text">
		<div class="">
			<%= render 'image_carousel' %>
		</div>
		<p class="font-medium"><b>Wedding Location:</b> 30301 Sheeptrail Ct, Tehachapi CA, 93561 - <small><%= link_to('MAP','http://www.google.com/maps/place/30301+Sheeptrail+Ct,+Tehachapi,+CA+93561' ,:target => "_blank") %></small></p>
		</br></br>
		<p class="font-medium"><b>Date:</b> August 30, 2014</p>
		</br></br>
		<p class="font-medium"><b>Start Time:</b> 6pm</p>
		</br></br>
		<p class="font-medium">Please RSVP and sign the digital guestbook!</p>
		</br></br>
		<p class="font-medium">If you mess up on the RSVP please contact Katie, Zack, Brandon, or Colleen. They can fix it for you.</p>
		</br></br>
	</div>

</div>

