<div class='my-form'>
<b>Wedding Location:</b> <%= link_to('30301 Sheeptrail Ct, Tehachapi CA, 93561','http://www.google.com/maps/place/30301+Sheeptrail+Ct,+Tehachapi,+CA+93561' ,:target => "_blank") %>
</br>
</br>
<b>Date:</b> August 30, 2014
</br>
</br>
<b>Start Time:</b> 6pm
</br>
</br>
Please RSVP and sign the digital guestbook!
</br>
</br>
</div>

