<div class='my-home-form'>
	<%= render 'image_carousel' %>
<p class="font-medium"><b>Wedding Location:</b> <%= link_to('30301 Sheeptrail Ct, Tehachapi CA, 93561','http://www.google.com/maps/place/30301+Sheeptrail+Ct,+Tehachapi,+CA+93561' ,:target => "_blank") %></p>
</br>
</br>
<p class="font-medium"><b>Date:</b> August 30, 2014</p>
</br>
</br>
<p class="font-medium"><b>Start Time:</b> 6pm</p>
</br>
</br>
<p class="font-medium">Please RSVP and sign the digital guestbook!</p>
</br>
</br>
<p class="font-medium">If you mess up on the RSVP please contact Katie, Zack, Brandon, or Colleen and they can fix it for you</p>
</br>
</br>
</div>

