
<div class="row-fluid">

	<div id="my-home-form" class="col-md-8 col-md-offset-2 center-text">
		<% flash.each do |name, msg| -%>
  		<%= content_tag :div, msg, class: name, id: 'top-notice' %>
		<% end -%>
		<div class="">
			<%= render 'image_carousel' %>
		</div>
		<p class="font-medium">We want to thank everyone that made this wedding possible. It was a great night had by all.</p>
		<p class="font-medium">If you enjoyed the music that Zack created for the wedding you can download it below</p>
		<p class="font-medium"><a href="http://noisetrade.com/zacklacom/zack-and-katies-wedding-music">http://noisetrade.com/zacklacom/zack-and-katies-wedding-music</a></p>
	</div>

</div>

