<div class="row-fluid">
  <div class="col-md-6 col-md-offset-3" id="my-form">
			<h1 class="text-center ">REGISTRY</h1>

			<p class="center-text">
				<b>We have registered at the following places and will be having a money dance.</b>
			</p>
			</br>
			
			<a href="http://www.amazon.com/gp/registry/wedding/3QOIBI1PRZIVD" target="_blank"><%= image_tag("amazon.png", :alt => "amazon", class: 'img-responsive my-images') %></a>
			</br>

			<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=541390598&pwsurl=" target="_blank"><%= image_tag("bbb.png", :alt => "bed-bath-beyond", class: 'img-responsive my-images') %></a>
			</br>

			<a href="http://www.travelersjoy.com/zkforever" target="_blank"><%= image_tag("tj.png", :alt => "travelersjoy", class: 'img-responsive my-images') %></a>
	</div>
</div>


