.row-fluid
  #my-form.col-md-6.col-md-offset-3
    %h1.center-text EDITING RSVP
    %div{align: "right"}
      %p= link_to('Admin', rsvps_path(order_by: :asc, sort_by: :name, show: :all))
    .center-text
      - flash.each do |name, msg|
        = content_tag :div, msg, class: name, id: 'top-notice'
    = render 'form'
    %p
      = link_to('Back', rsvps_path(sort_by: params[:sort_by], order_by: params[:order_by], show: params[:show]))
