
<div class="row">
  <div class="col-md-10 col-md-offset-1 white-background">

    <h1 class="text-center body-title">Showing all RSVPs</h1>

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "#{name} center-text" %>
    <% end -%>
    
    <div class="control-group">
      <div class="controls form-inline center-text">
        Show <%= select_tag :show, options_for_select( {'All' => 'all', 'Only Going' => 'only_going', 'Only Not Going' => 'only_not_going'}, params[:show]), { :class => 'btn btn-default btn-lg', :id => 'visible_options' } %>
      
      </div>
    </div>

    <div id="table-js">
    
    <%= render partial: 'rsvp_list' %>

    </div>

  </div>
</div>
