<div class="row-fluid">
  <div class="col-md-6 col-md-offset-3" id="my-form">

		<h1 class="center-text">RSVP</h1>

		<div align="right">
		  <p><%= link_to('Admin', rsvps_path(order_by: :asc, sort_by: :name)) %></p>
		</div>

		<div class="center-text">
			<% flash.each do |name, msg| -%>
	  		<%= content_tag :div, msg, class: name, id: 'top-notice' %>
			<% end -%>
		</div>

		<%= render 'form' %>
		<p>If you made an error when filling out the RSVP form, please contact Zack, Katie, Brandon, or Colleen.</p>
	</div>

	</div>
</div>