<div class="row">
	<div class="col-md-10 col-md-offset-1 white-background">
		<h1 class="center-text body-title">Managing Guestbook</h1>

		<% if @flagged.count > 0 %>
			<div id="my-boarder">
				<h3 class="center-text">Flagged Messages</h3>

				<table class="table table-bordered">
					<%= render 'table', :post => @flagged %>
				</table>
				
			</div>
			<br/>

		<% end %>

			<h3 class="center-text">All Messages</h3>
		<%= paginate @guestbooks %>
			<div align="right">
				<%= link_to('Export All', export_guestbooks_path, target: "_blank") %>
			</div>
		<table class="table table-striped table-bordered">
			<%= render 'table', :post => @guestbooks %>
		</table>
		<br>

	</div>

</div>
