.button-grouping {
	background-color: transparent;
}

div.my-form {
	background-color: white;
	padding: 20px 20px;
  border-radius: 10px;
  width:40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div.my-home-form {
	background-color: white;
	padding: 20px 20px;
  border-radius: 10px;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.carousel {
	margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 480px;
  height: 640px;
}

/*h1 {
	font-family: "alger";
}*/

img.my-images {
	margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 10px;
}

.white-background {
	background-color: white;
	border-radius: 5px;
}

nav.pagination{
	background-color: white;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	min-height:20px;
}

.page {
	padding: 10px 10px;
	font-size: 1.2em;
}

a {
	color: black;
}
a:hover
{ 
	color:black;
	background-color: #c9c9c9;
}

.page.current {
	color:grey;
}
/*
.body-title {
	height: 1.5em;
	border-radius: 5px;
	background-color: white;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
  font-size: 2em;

}*/

.warning {
	width: 80%;
	margin-left: auto;
  margin-right: auto;
}

#rsvp_party_size {
	width: 40%;
	margin-left: auto;
  margin-right: auto;
}

#hotel-welcome {
	padding: 20px 30px;
}

#footer-image{
	width:10%; /* you can use % */
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
/*
p {
	font-family: "goudos";
}
*/
/*@font-face {
	font-family: "alger";
	src: asset-url(/assets/fonts/ALGER.TTG);
}

@font-face {
	font-family: "goudos";
	src: asset-url(/assets/fonts/GOUDOS.TTG);
}*/

.font-large {
	font-size:1.8em;
	margin: 0px 0px 0px 0px;
}

.font-medium {
	font-size:1.2em;
}

#guestbook-form {
	padding: 20px 20px;
}
