.button-grouping {
	background-color: transparent;
}

div#my-form {
	background-color: white;
	padding: 20px 20px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.center-text {
  text-align: center;
}

div#my-home-form {
	background-color: white;
	padding: 20px 20px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

div.carousel {
	margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 480px;
  max-height: 640px;
}

#new_guestbook {
	padding-top: 20px;
}

img.my-images {
	margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 10px;
}

#my-boarder {
	background-color: #ff9999;
  border: 1px solid;
}

.white-background {
	background-color: white;
	border-radius: 5px;
	margin-top: 40px;
	margin-bottom: 40px;
}

nav.pagination{
	background-color: white;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	min-height:20px;
}

.page {
	padding: 10px 10px;
	font-size: 1.2em;
}

.page.current {
	color:grey;
}

.body-title {
	padding: 20px 0px 20px 0px;
}

.center-div {
	margin-left: auto;
  margin-right: auto;
}

#grey-background {
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: #c9c9c9;
	border-radius: 5px;
}

.warning {
	margin-left: auto;
  margin-right: auto;
}

#rsvp_party_size {
	margin-left: auto;
  margin-right: auto;
}

#hotel-welcome {
	padding: 20px 30px;
}

#footer-image{
	width:10%; /* you can use % */
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

p {
	font-family: "goudos";
}

h1 {
	font-family: "alger";
}

@font-face {
	font-family: "alger";
	src: url("/assets/fonts/ALGER.TTG");
}

@font-face {
	font-family: "goudos";
	src: url("/assets/fonts/GOUDOS.TTG");
}

.font-large {
	font-size:1.8em;
	margin: 0px 0px 0px 0px;
}

.font-medium {
	font-size:1.2em;
}

a:link    {color:black;}
a:visited {color:black;}
a:hover   {
	color:black;
	background-color: transparent;
}
a:active  {color:black;}
