.hotel-list {
	padding: 10px 10px;
	margin: 20px 20px;
	background-color: white;
	border: 1px solid;
  border-radius: 25px;
}

.warning {
	color: red;
}

#top-nav-bar {
	border: 1px solid;
  border-radius: 10px;
  background-image: url('ribbon3.png');
}

.buttons-mine{
	background-color: transparent;
	border: none;
}

.buttons-mine:hover{
	opacity:0.5;
}
