<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#home" role="tab" data-toggle="tab">Tehachapi</a></li>
  <li><a href="#profile" role="tab" data-toggle="tab">Hotels</a></li>
  <li><a href="#messages" role="tab" data-toggle="tab">Resturants</a></li>
  <li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">
		<div class="results">
		</div>
	</div>
  <div class="tab-pane" id="hotels">
  	<%= render partial: 'hotel_listing' %>
  </div>
  <div class="tab-pane" id="messages">
			<%= render partial: 'current_weather' %>
			<%= render partial: 'weather_forcast' %></div>
  <div class="tab-pane" id="settings">works</div>
</div>